<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>CountryGuide</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Velkomst</a></li>
        <li><a href="/countries">Se alle lande (JSON)</a></li>
        <li><a href="/countries/danmark">Se Danmark (JSON)</a></li>
    </ul>
</nav>

<h1>Velkommen til CountryGuide</h1>
<p>
    CountryGuide er en simpel guide, hvor du kan læse information om forskellige lande.
    Guiden dækker hele verden og er rettet imod studerende og rejselystne,
    som gerne vil lære mere om landes historie, attraktioner, spændende viden og meget mere.
</p>

<h2>Nyttige link</h2>
<ul>
    <li><a href="https://www.visitdenmark.dk/" target="_blank">VisitDenmark</a></li>
    <li><a href="https://www.lonelyplanet.com/" target="_blank">Lonely Planet</a></li>
    <li><a href="https://www.google.com/maps" target="_blank">Google Maps</a></li>
</ul>
<h2>Eksempel på et flag</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Denmark.svg"
     alt="Danmarks flag" width="150">

<footer>
    <p>Kontakt: countryguide@justafakemail.dk | Udviklet af PSchaufuss </p>
</footer>
</body>
</html>